.fundo-inicial{
    background: url(../img/bgHero\ 1.png), lightgray 50% / cover no-repeat;
    width: 100%;
    height: 915px;
}
.consutoria{
    margin-left: 10%;
    margin-top: 150px;
    width: 150px;
    height: 69px ;
}
.a-analise{
    width: 690px;
    height: 176px;
    color: white;
    margin-left: 10%;
    margin-top: 40px;
    font-family: Libre Franklin;
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
}
.clareza{
    margin-left: 10%;
    color: rgba(255, 255, 255, 0.75);
    width: 660px;
    height: 84px;
    font-family: libre Franklin;
    font-size:26px;
    font-style:normal;
    font-weight: 400;
    line-height: 39px;
    margin-top: 35px;
}
.contato{
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border-radius: 60px;
    background: linear-gradient(90deg, #D91149 23.53%, #4F1941 99.97%);
    margin-left: 10%;
    margin-top: 60px;
}
.entre-em-contato{
    color: white;
    font-family: libre Franklin;
    font-size: 20px;
    font-style: normal ;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    
}
.pontilhado{
    margin-top: -160px;
    margin-left: 10%;
}
.fundo2{
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: -90px;
}
.upgrade{
    color: white;
    text-align: center;
    margin-left: 10%;
    padding-top: 105px;
    font-family: libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.vendas{
    color: var(--Rose1, #D91149);
    padding-top: 5px;
    text-align: center;
    margin-left: 10%;
    font-family: libre Franklin;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
}
.boxs{
    width: 996px;
    height: 550px;
    border-radius: 20px;
    border: 3px solid rgba(217, 17, 73, 0.25);
    margin-left: 27%;
    margin-top: 50px;
    justify-content: center;
}
.barrinha{
    width: 80px;
    height: 20px;
    border-radius: 20px;
    background: rgba(217, 17, 73, 0.15);
    margin-top: 40px;
    margin-left: 40px;
}
.eclipse3{
    margin-left: 78%;
    margin-top: -20px;
}
.eclipse2{
    margin-left: 73%;
    margin-top: -19px;
}
.eclipse1{
    margin-left: 68.8%;
    margin-top: -19px;
}
.box{
    width: 387px;
    height: 387px;
    border-radius: 15px;
    background: rgba(41, 9, 46, 0.60);
    backdrop-filter: blur(7.5px);
    margin-top: 40px;
    margin-left: -120px;
}
   
.box2{
    width: 387px;
    height: 387px;
    border-radius: 15px;
    background: rgba(41, 9, 46, 0.60);
    backdrop-filter: blur(7.5px);
    margin-top: 40px;
    margin-left: 29%;
    margin-top: -39%;    
}
.box3{
    width: 387px;
    height: 387px;
    border-radius: 15px;
    background: rgba(41, 9, 46, 0.60);
    backdrop-filter: blur(7.5px);
    margin-top: 40px;
    margin-left: 70%;
    margin-top: -39%;
}
.linha{
    width: 357px;
    height: 357px;
    border-radius: 15px;
    border: 1px solid rgba(217, 17, 73, 0.70);
    backdrop-filter: blur(7.5px);
    margin-left: -107px;
    margin-top: -37%;


   
}
.linha2{
    width: 357px;
    height: 357px;
    border-radius: 15px;
    border: 1px solid rgba(217, 17, 73, 0.70);
    backdrop-filter: blur(7.5px);
    margin-left: 302px;
    margin-top: -36%;
}
.linha3{
    width: 357px;
    height: 357px;
    border-radius: 15px;
    border: 1px solid rgba(217, 17, 73, 0.70);
    backdrop-filter: blur(7.5px);
    margin-left: 71.5%;
    margin-top: -36%;
}
.cerebro-img{
    margin-top: 18%;
    margin-left: 12%;
}
.text-cerebro{
    color: white;
    font-family:libre Franklin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 12%;
    margin-top: 10%;
}
.lupa-img{
    margin-top: 16%;
    margin-left: 12%;
}
.text-lupa{
    color: white;
    font-family:libre Franklin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 12%;
    margin-top: 8%; 
}
.moeda-img{
    margin-top: 16%;
    margin-left: 12%;
}
.text-moeda{
    color: white;
    font-family:libre Franklin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 12%;
    margin-top: 10%;
}
.pontilhado-linha-img{
    margin-top: 5%;
    padding-left: 55%;
}
.fundos3{
    width: 100%;
    height: 100%;
    background: black;
}
.pontos-back{
   height: 100%;
   width: 100%;
   margin-top: 4%;
}
.trafego{
    color: white;
    font-family:libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 10%;
    margin-top: -15%;
    text-align: center;
}
.blur{
    width: 580px;
    height: 170px;
    transform: rotate(-0,541deg);
    border-radius: 580px;
    background: rgba(0, 0, 0, 0.90);
    backdrop-filter: blur(50px);
}
.problema{
    text-align: center;
    color: #FFF;
    font-family: libre Franklin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;  
    margin-left: 10%;
    margin-top: 5%;
}
.traco-central{
    margin-left: 10px;
    
}
.traco-direito{
    margin-left: 10px;
 
}

.tracos{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 5%;

}
.boxs2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxs2-1{
    width: 380px;
    height: 170px;
    border-radius: 15px;
    border: 1px solid #4F1941;
    backdrop-filter: blur(7.5px);
    margin-left: 5%;
    
}
.boxs2-2{
    width: 380px;
    height: 170px;
    border-radius: 15px;
    border: 1px solid #4F1941;
    backdrop-filter: blur(7.5px);
    margin-left: 2%;
}
.boxs2-3{
    width: 380px;
    height: 170px;
    border-radius: 15px;
    border: 1px solid #4F1941;
    backdrop-filter: blur(7.5px);
    margin-left: 2%;
}
.bolinha1{
    margin-left: 86px;
    margin-top: -10px;
    
}
.bolinha2{
    margin-left: 86px;
    margin-top: -10px; 
}
.bolinha3{
    margin-left: 84px;
    margin-top: -10px;
}
.text-projeto{
    color: white;
    margin-top: 30px;
    font-family: libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.text-resultados{
    color: white;
    margin-top: 30px;
    font-family: libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.text-aparentemente{
    color: white;
    margin-top: 30px;
    font-family: libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.caixa-rosa{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: linear-gradient(90deg, #D91149 23.53%, #4F1941 99.97%);
    margin-left: 13%;

    margin-top: 5%;
;
}
.gather-logo{
    margin-top: -13%;
   
    position: absolute;
    justify-content: center;
    align-items: center;
   


}
.text-provavelmente{
    text-align: center;
    color: white;
    font-family: libre Franklin;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -5%;
    margin-left: -15%;

}
.text-empresas{
    color: white;
    font-family: libre Franklin;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    margin-top: 4%;
    margin-left: -50%;

}
.text-milhares{
    color: white;
    font-family: libre Franklin;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    margin-top: 12%;
    margin-left: -35%;
}
.fundos4{
    width: 100%;
    height: 100%;
    background: #270417
}
.pedro{
    background: url(../img/pedroOlhar\ 1.png), #270417 50% / cover no-repeat;
    width: 500px;
    height: 470px;
    margin-left: 10%;
}
.olho{
    margin-left: 70%;
    margin-top: 20%;
}

