.fundo-inicial{
    background: url(../img/bgHero\ 1.png), lightgray 50% / cover no-repeat;
    width: 100%;
    height: 915px;
}
.consutoria{
    margin-left: 10%;
    margin-top: 150px;
    width: 150px;
    height: 69px ;
}
.a-analise{
    width: 690px;
    height: 176px;
    color: white;
    margin-left: 10%;
    margin-top: 40px;
    font-family: Libre Franklin;
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
}
.clareza{
    margin-left: 10%;
    color: rgba(255, 255, 255, 0.75);
    width: 660px;
    height: 84px;
    font-family: libre Franklin;
    font-size:26px;
    font-style:normal;
    font-weight: 400;
    line-height: 39px;
    margin-top: 35px;
}
.contato{
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border-radius: 60px;
    background: linear-gradient(90deg, #D91149 23.53%, #4F1941 99.97%);
    margin-left: 10%;
    margin-top: 60px;
}
.entre-em-contato{
    color: white;
    font-family: libre Franklin;
    font-size: 20px;
    font-style: normal ;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    
}
.pontilhado{
    margin-top: -160px;
    margin-left: 10%;
}
.fundo2{
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: -90px;
}
.upgrade{
    color: white;
    text-align: center;
    margin-left: 10%;
    padding-top: 105px;
    font-family: libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.vendas{
    color: var(--Rose1, #D91149);
    padding-top: 5px;
    text-align: center;
    margin-left: 10%;
    font-family: libre Franklin;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
}
.boxs{
    width: 996px;
    height: 550px;
    border-radius: 20px;
    border: 3px solid rgba(217, 17, 73, 0.25);
    margin-left: 27%;
    margin-top: 50px;
    justify-content: center;
}
.barrinha{
    width: 80px;
    height: 20px;
    border-radius: 20px;
    background: rgba(217, 17, 73, 0.15);
    margin-top: 40px;
    margin-left: 40px;
}
.eclipse3{
    margin-left: 78%;
    margin-top: -20px;
}
.eclipse2{
    margin-left: 73%;
    margin-top: -19px;
}
.eclipse1{
    margin-left: 68.8%;
    margin-top: -19px;
}
.box{
    width: 387px;
    height: 387px;
    border-radius: 15px;
    background: rgba(41, 9, 46, 0.60);
    backdrop-filter: blur(7.5px);
    margin-top: 40px;
    margin-left: -120px;
}
   
.box2{
    width: 387px;
    height: 387px;
    border-radius: 15px;
    background: rgba(41, 9, 46, 0.60);
    backdrop-filter: blur(7.5px);
    margin-top: 40px;
    margin-left: 29%;
    margin-top: -39%;    
}
.box3{
    width: 387px;
    height: 387px;
    border-radius: 15px;
    background: rgba(41, 9, 46, 0.60);
    backdrop-filter: blur(7.5px);
    margin-top: 40px;
    margin-left: 70%;
    margin-top: -39%;
}
.linha{
    width: 357px;
    height: 357px;
    border-radius: 15px;
    border: 1px solid rgba(217, 17, 73, 0.70);
    backdrop-filter: blur(7.5px);
    margin-left: -107px;
    margin-top: -37%;


   
}
.linha2{
    width: 357px;
    height: 357px;
    border-radius: 15px;
    border: 1px solid rgba(217, 17, 73, 0.70);
    backdrop-filter: blur(7.5px);
    margin-left: 302px;
    margin-top: -36%;
}
.linha3{
    width: 357px;
    height: 357px;
    border-radius: 15px;
    border: 1px solid rgba(217, 17, 73, 0.70);
    backdrop-filter: blur(7.5px);
    margin-left: 71.5%;
    margin-top: -36%;
}
.cerebro-img{
    margin-top: 18%;
    margin-left: 12%;
}
.text-cerebro{
    color: white;
    font-family:libre Franklin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 12%;
    margin-top: 10%;
}
.lupa-img{
    margin-top: 16%;
    margin-left: 12%;
}
.text-lupa{
    color: white;
    font-family:libre Franklin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 12%;
    margin-top: 8%; 
}
.moeda-img{
    margin-top: 16%;
    margin-left: 12%;
}
.text-moeda{
    color: white;
    font-family:libre Franklin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 12%;
    margin-top: 10%;
}
.pontilhado-linha-img{
    margin-top: 5%;
    padding-left: 55%;
}
.fundos3{
    width: 100%;
    height: 100%;
    background: black;
}
.pontos-back{
   height: 100%;
   width: 100%;
   margin-top: 4%;
}
.trafego{
    color: white;
    font-family:libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 10%;
    margin-top: -15%;
    text-align: center;
}
.blur{
    width: 580px;
    height: 170px;
    transform: rotate(-0,541deg);
    border-radius: 580px;
    background: rgba(0, 0, 0, 0.90);
    backdrop-filter: blur(50px);
}
.problema{
    text-align: center;
    color: #FFF;
    font-family: libre Franklin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;  
    margin-left: 10%;
    margin-top: 5%;
}
.traco-central{
    margin-left: 10px;
    
}
.traco-direito{
    margin-left: 10px;
 
}

.tracos{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 5%;

}
.boxs2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxs2-1{
    width: 380px;
    height: 170px;
    border-radius: 15px;
    border: 1px solid #4F1941;
    backdrop-filter: blur(7.5px);
    margin-left: 5%;
    
}
.boxs2-2{
    width: 380px;
    height: 170px;
    border-radius: 15px;
    border: 1px solid #4F1941;
    backdrop-filter: blur(7.5px);
    margin-left: 2%;
}
.boxs2-3{
    width: 380px;
    height: 170px;
    border-radius: 15px;
    border: 1px solid #4F1941;
    backdrop-filter: blur(7.5px);
    margin-left: 2%;
}
.bolinha1{
    margin-left: 86px;
    margin-top: -10px;
    
}
.bolinha2{
    margin-left: 86px;
    margin-top: -10px; 
}
.bolinha3{
    margin-left: 84px;
    margin-top: -10px;
}
.text-projeto{
    color: white;
    margin-top: 30px;
    font-family: libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.text-resultados{
    color: white;
    margin-top: 30px;
    font-family: libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.text-aparentemente{
    color: white;
    margin-top: 30px;
    font-family: libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.caixa-rosa{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: linear-gradient(90deg, #D91149 23.53%, #4F1941 99.97%);
    margin-left: 13%;

    margin-top: 5%;
;
}
.gather-logo{
    margin-top: -13%;
   
    position: absolute;
    justify-content: center;
    align-items: center;
   


}
.text-provavelmente{
    text-align: center;
    color: white;
    font-family: libre Franklin;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -5%;
    margin-left: -15%;

}
.text-empresas{
    color: white;
    font-family: libre Franklin;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    margin-top: 4%;
    margin-left: -50%;

}
.text-milhares{
    color: white;
    font-family: libre Franklin;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    margin-top: 12%;
    margin-left: -35%;
}
.fundos4{
    width: 100%;
    height: 100%;
    background: #270417
}
.pedro{
    background: url(../img/pedroOlhar\ 1.png), #270417 50% / cover no-repeat;
    width: 500px;
    height: 470px;
    margin-left: 12.5%;
}
.olho{
    margin-left: 70%;
    margin-top: 20%;
}
.Novo{
   
    color: white;
    font-family: libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -20%;
    margin-left: 50%;
}
.ponto-cego{
    color: white;
    font-family: libre Franklin;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 50%;
    margin-top: 5%;
}
.novo-olhar{
    font-family: Libre Franklin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: white;
    margin-left: 50%;
    margin-top: 5%;
}
.exatamente{
    color: white;
    font-family: libre Franklin;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 50%;
    margin-top: 5%;
}
.fundos5{
    width: 100%;
    height: 100%;
    background: black;
}
.metodo-subido{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 10%;
    margin-left: 10%;
}
.vermelhor{
    color: #D91149;
    font-family: Libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 21%;
    margin-top: -2.5%;
}
.cont-metodo{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 10%;
}
.two-img{
    margin-top: 3%;
    margin-left: -6%;
}
.sub-boxs-1{
    width: 690px;
    height: 200px;
    border-radius: 15px;
    background:var(--Roxo, #120414);
    margin-left: 55%;
    margin-top: -50%;
}
.text-red{
    color: #D91149;
    font-family: libre Franklin;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding-top: 8%;
}
.sub-titulo{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
   
    padding-top: 2%;
    padding-left: 18%;
}
.sub-boxs-2{
    width: 690px;
    height: 200px;
    border-radius: 15px;
    background:var(--Roxo, #120414);
    margin-left: 55%;
    margin-top: 2%;
}
.text-red-2{
    color: #D91149;
    font-family: libre Franklin;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 15%;
    padding-top: 7%;
}
.sub-titulo-2{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
   
    padding-top: 2%;
    padding-left: 15%;
}
.sub-boxs-3{
    width: 690px;
    height: 200px;
    border-radius: 15px;
    background:var(--Roxo, #120414);
    margin-left: 55%;
    margin-top: 2%;
}
.text-red-3{
    color: #D91149;
    font-family: libre Franklin;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 15%;
    padding-top: 7%;
}
.sub-titulo-3{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
   
    padding-top: 2%;
    padding-left: 15%;
}
.sub-boxs-4{
    width: 690px;
    height: 200px;
    border-radius: 15px;
    background:var(--Roxo, #120414);
    margin-left: 55%;
    margin-top: 2%
}
.text-red-4{
    color: #D91149;
    font-family: libre Franklin;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 15%;
    padding-top: 7%;
}
.sub-titulo-4{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
   
    padding-top: 2%;
    padding-left: 15%;
}
.fundos6{
    width: 100%;
    height: 100%;
    background: var(--Gradient, linear-gradient(90deg, #D91149 23.53%, #4F1941 99.97%));
}
.qualquer{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 10%;
}
.subs-boxs-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 0.5px solid white;
    width: 100px;
    height:20px;
    margin-left: 36%;
    margin-top: 2%;
}
.subs-boxs-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 0.5px solid white;
    width: 100px;
    height: 20px;
    margin-left: 43%;
    margin-top: -1.23%;
}
.subs-boxs-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 0.5px solid white;
    width: 100px;
    height: 20px;
    margin-left: 50%;
    margin-top: -1.23%;
}
.subs-boxs-4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 0.5px solid white;
    width: 100px;
    height: 20px;
    margin-left: 57%;
    margin-top: -1.23%;
}
.subs-boxs-5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 0.5px solid white;
    width: 100px;
    height: 20px;
    margin-left: 40%;
    margin-top: 1.6%;
}
.subs-boxs-6{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 0.5px solid white;
    width: 100px;
    height: 20px;
    margin-left: 50%;
    margin-top: -1.4%;
}
.lançamentos{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.perpetuo{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Ecommerces{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Empresas{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.estrategia{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Criacao{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.fundos7{
    width: 100%;
    height: 100%;
    background: black;
}
.consutoria-subido{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10%;
}
.contato1{
    margin-left :38%;
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border-radius: 60px;
    background: linear-gradient(90deg, #D91149 23.53%, #4F1941 99.97%);
    margin-top: 5%;

    }
    .subido-red-2{
        color: #D91149;
        font-family: libre Franklin;
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 65%;
        margin-top: -12.5%;
    }
    .sub-text-sub{
        color: rgba(255, 255, 255, 0.60);
        font-family: Libre Franklin;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 200%;
        text-transform: uppercase;
        text-align: center
        ;
        margin-top: 1%;
     }
     .paragrafo1{
        color: #FFF;
        text-align: center;
        font-family: Libre Franklin;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.5px;
        margin-top: 2%;
     }
.parte-branca{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px; 
    margin-left: 23%;
}
.parte-vermelha{
    color: #D91149;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px;
    margin-left: 27.5%;
    margin-top: -1.5%
}
.parte-normal{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px;
    margin-left: 38.5%;
    margin-top: -1.5%; 
}
.parte-branco-claro{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.5px;
    margin-left: 69.5%;
    margin-top: -1.5%;
}
.parte-branca-1{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px;
    margin-left: 74%;
    margin-top: -1.3%;
}
.box-new1{
    display: inline-flex;
    padding: 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 15px;
    background: var(--Roxo, #120414);
    margin-left: 20%;
    }
.box-new2{
    display: inline-flex;
    padding: 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 15px;
    background: var(--Roxo, #120414);
    margin-top: 9%;
    margin-left: 1%;
}
.numero1{
    display: flex;
    width: 2px;
    height: 50px;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 90px;
    background: #D91149;
    margin-top: -32%;
    margin-left: -8%;
}
.numero1-text{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.fase-de-grupo{
    display: flex;
    width: 75px;
    padding: 10px 25px;
    align-items: center;
    align-content: center;
    gap: 15px;
    flex-wrap: wrap;
    border-radius: 90px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    margin-top: 4%;
    }
    .text-fase-de-grupos{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }
    .diagnostico{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5%;
    }
    .iformacoes-contas{
     color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px ;
    }
    .numero2{
    display: flex;
    width: 2px;
    height: 50px;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 90px;
    background: #D91149;
    margin-top: -32%;
    }
    .numero2-text{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }
    .fase-de-grupos2{
     display: flex;
     width: 75px;
     padding: 10px 25px;
     align-items: center;
    align-content: center;
    gap: 15px;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 90px;
    margin-top: 4%;
    }
    .text-fase-de-grupos-2{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }
    .orientacao{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5%;
    }
    .tracar{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px; 
    }
    .new-box-3{
        display: inline-flex;
        padding: 60px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        border-radius: 15px;
        background: var(--Roxo, #120414);
        margin-top: 8%;
        margin-left: 20%;
    }
    .numero3{
        display: flex;
        width: 2px;
        height: 50px;
        padding: 40px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        border-radius: 90px;
        background: #D91149;
        margin-top: -32%;
    }
    .text-numero3{
        color: #FFF;
        font-family: Libre Franklin;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .fase-de-grupos3{
        display: flex;
        width: 75px;
        padding: 10px 25px;
        align-items: center;
       align-content: center;
       gap: 15px;
       flex-wrap: wrap;
       border: 1px solid rgba(255, 255, 255, 0.50);
       border-radius: 90px;
       margin-top: 4%;
    }
    .text-fase-de-grupos3{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 }
 .avaliacao{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5%;
 }
 .avaliar{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px; 
 }
 .new-box-4{
    display: inline-flex;
    padding: 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 15px;
    background: var(--Roxo, #120414);
    margin-top: 10%;
    margin-left: 2%;
 }
 .numero4{
    display: flex;
    width: 2px;
    height: 50px;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 90px;
    background: #D91149;
    margin-top: -32%
 }
 .text-numero4{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 }
 .fase-de-grupos-4{
    display: flex;
    width: 75px;
    padding: 10px 25px;
    align-items: center;
   align-content: center;
   gap: 15px;
   flex-wrap: wrap;
   border: 1px solid rgba(255, 255, 255, 0.50);
   border-radius: 90px;
   margin-top: 4%;
 }  
 .text-fase-de-grupos-4{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 }
 .acompanhamento{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5%;
 }
 .text-acompanhamento{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px;
 }
 .entre-em-contato-3{
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border-radius: 60px;
    background: linear-gradient(90deg, #D91149 23.53%, #4F1941 99.97%);
    margin-left: 40%;
    margin-top: 10%;
}
.entre-em-contato-3{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height:  30px;
    text-transform: uppercase;
}
.back-live{
    background: url(../img/bg-contasPedro\ 12.png), lightgray 50% / cover no-repeat;
    width: 100%;
    height: 100%;
}
.nem-todo{
    
}
 


